$primary-color: #ffffff;
$secondary-color: black;
$tertiary-color: #f5f6f8;
$quaternary-color: #dde0e4;
$quinary-color: #003566;
$senary-color: grey;
$septenary-color: #cdcdcd;
$octonary-color: red;
$nonary-color: #343a40;
