@import 'variables.scss';
.AddTask {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
  height: 15%;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  &_Container {
    background-color: $secondary-color;
    width: 90%;
    height: 50%;
    min-height: 30px;
    margin-top: 10px;
    border: 1px solid;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  input {
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
}
