@import 'variables.scss';
.MenuLayout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: $tertiary-color;
  &_Menu {
    width: 20%;
  }
  &_Content {
    width: 80%;
  }
}
