@import 'variables.scss';
.SettingsModal {
  &_Container {
    .logOut {
      button {
        &.isSubmitting {
          opacity: 0.8;
          cursor: not-allowed;
          svg {
            fill: $secondary-color;
          }
        }
      }
    }
  }
}
