@import 'variables.scss';
.TaskTitle {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  cursor: pointer;
  &_Stroke {
    position: absolute;
    top: 50%;
    border-radius: 10px;
    height: 3px;
    background-color: $secondary-color;
  }
  input {
    color: $secondary-color;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    background-color: transparent;
  }
}
